In [149]:
import pandas as pd

In [150]:
df= pd.read_csv(r'C:\Users\91706\Data Analytics Practice\databases\python\tata motors cars\tata_cars_600k.csv')

- checking for null values

In [151]:
df.isnull().sum()

record_id                      0
model                          0
variant                        0
year                           0
region                         0
dealer_name                    0
engine_cc                      0
max_power_bhp                  0
max_torque_nm                  0
kerb_weight_kg                 0
ex_showroom_price_lakhs        0
onroad_price_lakhs             0
down_payment_pct               0
loan_amount_lakhs              0
interest_rate_pct              0
loan_tenure_months             0
emi_monthly_rupees             0
total_interest_paid_lakhs      0
resale_value_5yrs_lakhs        0
ownership_cost_5yrs_lakhs      0
net_cost_of_ownership_lakhs    0
image_url                      0
features                       0
spec_summary                   0
created_at                     0
dtype: int64

- printng number of rows & columns

In [152]:
print(f'Number of columns: {df.shape[1]} \n Number of Rows: {df.shape[0]}')

Number of columns: 25
 Number of Rows: 600000

- data frame details

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   record_id                    600000 non-null  int64
 1   model                        600000 non-null  object
 2   variant                      600000 non-null  object
 3   year                         600000 non-null  int64
 4   region                       600000 non-null  object
 5   dealer_name                  600000 non-null  object
 6   engine_cc                    600000 non-null  int64
 7   max_power_bhp                600000 non-null  float64
 8   max_torque_nm                600000 non-null  int64
 9   kerb_weight_kg               600000 non-null  int64
 10  ex_showroom_price_lakhs      600000 non-null  float64
 11  onroad_price_lakhs           600000 non-null  float64
 12  down_payment_pct             600000 non-null  float64
 13  loan_amount_lakhs            600000 non-null  float64
 14  interest_rate_pct            600000 non-null  float64
 15  loan_tenure_months           600000 non-null  int64
 16  emi_monthly_rupees           600000 non-null  float64
 17  total_interest_paid_lakhs    600000 non-null  float64
 18  resale_value_5yrs_lakhs      600000 non-null  float64
 19  ownership_cost_5yrs_lakhs    600000 non-null  float64
 20  net_cost_of_ownership_lakhs  600000 non-null  float64
 21  image_url                    600000 non-null  object
 22  features                     600000 non-null  object
 23  spec_summary                 600000 non-null  object
 24  created_at                   600000 non-null  object
dtypes: float64(11), int64(6), object(8)
memory usage: 114.4+ MB

In [154]:
df.dtypes

record_id                        int64
model                           object
variant                         object
year                             int64
region                          object
dealer_name                     object
engine_cc                        int64
max_power_bhp                  float64
max_torque_nm                    int64
kerb_weight_kg                   int64
ex_showroom_price_lakhs        float64
onroad_price_lakhs             float64
down_payment_pct               float64
loan_amount_lakhs              float64
interest_rate_pct              float64
loan_tenure_months               int64
emi_monthly_rupees             float64
total_interest_paid_lakhs      float64
resale_value_5yrs_lakhs        float64
ownership_cost_5yrs_lakhs      float64
net_cost_of_ownership_lakhs    float64
image_url                       object
features                        object
spec_summary                    object
created_at                      object
dtype: object

In [155]:
df.head()

,record_id,model,variant,year,region,dealer_name,engine_cc,max_power_bhp,max_torque_nm,kerb_weight_kg,ex_showroom_price_lakhs,onroad_price_lakhs,down_payment_pct,loan_amount_lakhs,interest_rate_pct,loan_tenure_months,emi_monthly_rupees,total_interest_paid_lakhs,resale_value_5yrs_lakhs,ownership_cost_5yrs_lakhs,net_cost_of_ownership_lakhs,image_url,features,spec_summary,created_at
0,1,Tigor,Premium,2025,East,Dealer_68,1080,87.5,202,1185,2.08,2.32,15.0,1.97,8.15,48,4823.0,0.35,1.28,4.17,2.89,https://www.tatamotors.com/wp-content/uploads/...,"Heated Seats,Wireless Charging,Ambient Lighting",Tigor Premium | Petrol | Manual | 87.5bhp,2025-10-12
1,2,Harrier,Premium,2014,Central,Dealer_17,1028,99.1,78,1351,8.89,9.85,13.5,8.52,7.50,48,20600.0,1.37,6.24,12.62,6.38,https://www.tatamotors.com/wp-content/uploads/...,"Sunroof,Alloy Wheels,Push Start",Harrier Premium | Hybrid | Manual | 99.1bhp,2025-10-12
2,3,Curvv,Base,2012,Central,Dealer_52,1366,123.8,121,1064,13.39,15.38,14.7,13.12,9.10,84,21176.0,4.67,11.27,21.10,9.83,https://www.tatamotors.com/wp-content/uploads/...,"Climate Control,Android Auto,Apple CarPlay",Curvv Base | Hybrid | DCT | 123.8bhp,2025-10-12
3,4,Xpres-T,XM,2013,East,Dealer_67,1275,138.6,200,1472,7.56,8.75,20.5,6.96,9.03,48,17330.0,1.36,4.86,10.94,6.08,https://www.tatamotors.com/wp-content/uploads/...,"Lane Assist,Adaptive Cruise,Parking Sensors",Xpres-T XM | Electric | Automatic | 138.6bhp,2025-10-12
4,5,Nano,XT,2016,West,Dealer_60,625,89.3,155,1006,2.64,3.10,16.0,2.60,8.18,72,4582.0,0.70,1.64,4.05,2.41,https://www.tatamotors.com/wp-content/uploads/...,"Lane Assist,Adaptive Cruise,Parking Sensors",Nano XT | Petrol | Automatic | 89.3bhp,2025-10-12

- converting to datetype format

In [156]:
df['created_at']=pd.to_datetime(df['created_at'])

- dropped unwanted column

In [157]:
df=df.drop(columns='image_url')

In [158]:
df.head(2)

,record_id,model,variant,year,region,dealer_name,engine_cc,max_power_bhp,max_torque_nm,kerb_weight_kg,ex_showroom_price_lakhs,onroad_price_lakhs,down_payment_pct,loan_amount_lakhs,interest_rate_pct,loan_tenure_months,emi_monthly_rupees,total_interest_paid_lakhs,resale_value_5yrs_lakhs,ownership_cost_5yrs_lakhs,net_cost_of_ownership_lakhs,features,spec_summary,created_at
0,1,Tigor,Premium,2025,East,Dealer_68,1080,87.5,202,1185,2.08,2.32,15.0,1.97,8.15,48,4823.0,0.35,1.28,4.17,2.89,"Heated Seats,Wireless Charging,Ambient Lighting",Tigor Premium | Petrol | Manual | 87.5bhp,2025-10-12
1,2,Harrier,Premium,2014,Central,Dealer_17,1028,99.1,78,1351,8.89,9.85,13.5,8.52,7.50,48,20600.0,1.37,6.24,12.62,6.38,"Sunroof,Alloy Wheels,Push Start",Harrier Premium | Hybrid | Manual | 99.1bhp,2025-10-12

- splitting a column using delimiter, then dropping it & renaming new columns

In [159]:
split_col=df['spec_summary'].str.split('|',expand=True)
df=pd.concat([df,split_col],axis=1)
df.head(2)

,record_id,model,variant,year,region,dealer_name,engine_cc,max_power_bhp,max_torque_nm,kerb_weight_kg,ex_showroom_price_lakhs,onroad_price_lakhs,down_payment_pct,loan_amount_lakhs,interest_rate_pct,loan_tenure_months,emi_monthly_rupees,total_interest_paid_lakhs,resale_value_5yrs_lakhs,ownership_cost_5yrs_lakhs,net_cost_of_ownership_lakhs,features,spec_summary,created_at,0,1,2,3
0,1,Tigor,Premium,2025,East,Dealer_68,1080,87.5,202,1185,2.08,2.32,15.0,1.97,8.15,48,4823.0,0.35,1.28,4.17,2.89,"Heated Seats,Wireless Charging,Ambient Lighting",Tigor Premium | Petrol | Manual | 87.5bhp,2025-10-12,Tigor Premium,Petrol,Manual,87.5bhp
1,2,Harrier,Premium,2014,Central,Dealer_17,1028,99.1,78,1351,8.89,9.85,13.5,8.52,7.50,48,20600.0,1.37,6.24,12.62,6.38,"Sunroof,Alloy Wheels,Push Start",Harrier Premium | Hybrid | Manual | 99.1bhp,2025-10-12,Harrier Premium,Hybrid,Manual,99.1bhp

In [160]:
df=df.drop(columns='spec_summary')

In [161]:
df=df.rename(columns={0:'Model',1:'Fuel',2:'GearBox',3:'bhp'})

In [162]:
df.head(2)

,record_id,model,variant,year,region,dealer_name,engine_cc,max_power_bhp,max_torque_nm,kerb_weight_kg,ex_showroom_price_lakhs,onroad_price_lakhs,down_payment_pct,loan_amount_lakhs,interest_rate_pct,loan_tenure_months,emi_monthly_rupees,total_interest_paid_lakhs,resale_value_5yrs_lakhs,ownership_cost_5yrs_lakhs,net_cost_of_ownership_lakhs,features,created_at,Model,Fuel,GearBox,bhp
0,1,Tigor,Premium,2025,East,Dealer_68,1080,87.5,202,1185,2.08,2.32,15.0,1.97,8.15,48,4823.0,0.35,1.28,4.17,2.89,"Heated Seats,Wireless Charging,Ambient Lighting",2025-10-12,Tigor Premium,Petrol,Manual,87.5bhp
1,2,Harrier,Premium,2014,Central,Dealer_17,1028,99.1,78,1351,8.89,9.85,13.5,8.52,7.50,48,20600.0,1.37,6.24,12.62,6.38,"Sunroof,Alloy Wheels,Push Start",2025-10-12,Harrier Premium,Hybrid,Manual,99.1bhp

- dropped duplicate column

In [163]:
df=df.drop(columns='bhp')

In [164]:
pd.set_option('display.max_columns', None)
df.head()

,record_id,model,variant,year,region,dealer_name,engine_cc,max_power_bhp,max_torque_nm,kerb_weight_kg,ex_showroom_price_lakhs,onroad_price_lakhs,down_payment_pct,loan_amount_lakhs,interest_rate_pct,loan_tenure_months,emi_monthly_rupees,total_interest_paid_lakhs,resale_value_5yrs_lakhs,ownership_cost_5yrs_lakhs,net_cost_of_ownership_lakhs,features,created_at,Model,Fuel,GearBox
0,1,Tigor,Premium,2025,East,Dealer_68,1080,87.5,202,1185,2.08,2.32,15.0,1.97,8.15,48,4823.0,0.35,1.28,4.17,2.89,"Heated Seats,Wireless Charging,Ambient Lighting",2025-10-12,Tigor Premium,Petrol,Manual
1,2,Harrier,Premium,2014,Central,Dealer_17,1028,99.1,78,1351,8.89,9.85,13.5,8.52,7.50,48,20600.0,1.37,6.24,12.62,6.38,"Sunroof,Alloy Wheels,Push Start",2025-10-12,Harrier Premium,Hybrid,Manual
2,3,Curvv,Base,2012,Central,Dealer_52,1366,123.8,121,1064,13.39,15.38,14.7,13.12,9.10,84,21176.0,4.67,11.27,21.10,9.83,"Climate Control,Android Auto,Apple CarPlay",2025-10-12,Curvv Base,Hybrid,DCT
3,4,Xpres-T,XM,2013,East,Dealer_67,1275,138.6,200,1472,7.56,8.75,20.5,6.96,9.03,48,17330.0,1.36,4.86,10.94,6.08,"Lane Assist,Adaptive Cruise,Parking Sensors",2025-10-12,Xpres-T XM,Electric,Automatic
4,5,Nano,XT,2016,West,Dealer_60,625,89.3,155,1006,2.64,3.10,16.0,2.60,8.18,72,4582.0,0.70,1.64,4.05,2.41,"Lane Assist,Adaptive Cruise,Parking Sensors",2025-10-12,Nano XT,Petrol,Automatic

- converted values (1 lakh = 1,00,000)

In [165]:
df['total_interest_paid_lakhs']=df['total_interest_paid_lakhs']*100000
df['resale_value_5yrs_lakhs']=df['resale_value_5yrs_lakhs']*100000
df['ownership_cost_5yrs_lakhs']=df['ownership_cost_5yrs_lakhs']*100000
df['net_cost_of_ownership_lakhs']=df['net_cost_of_ownership_lakhs']*100000
df['ex_showroom_price_lakhs']=df['ex_showroom_price_lakhs']*100000
df['onroad_price_lakhs']=df['onroad_price_lakhs']*100000
df['loan_amount_lakhs']=df['loan_amount_lakhs']*100000

In [166]:
df.head()

,record_id,model,variant,year,region,dealer_name,engine_cc,max_power_bhp,max_torque_nm,kerb_weight_kg,ex_showroom_price_lakhs,onroad_price_lakhs,down_payment_pct,loan_amount_lakhs,interest_rate_pct,loan_tenure_months,emi_monthly_rupees,total_interest_paid_lakhs,resale_value_5yrs_lakhs,ownership_cost_5yrs_lakhs,net_cost_of_ownership_lakhs,features,created_at,Model,Fuel,GearBox
0,1,Tigor,Premium,2025,East,Dealer_68,1080,87.5,202,1185,208000.0,232000.0,15.0,197000.0,8.15,48,4823.0,35000.0,128000.0,417000.0,289000.0,"Heated Seats,Wireless Charging,Ambient Lighting",2025-10-12,Tigor Premium,Petrol,Manual
1,2,Harrier,Premium,2014,Central,Dealer_17,1028,99.1,78,1351,889000.0,985000.0,13.5,852000.0,7.50,48,20600.0,137000.0,624000.0,1262000.0,638000.0,"Sunroof,Alloy Wheels,Push Start",2025-10-12,Harrier Premium,Hybrid,Manual
2,3,Curvv,Base,2012,Central,Dealer_52,1366,123.8,121,1064,1339000.0,1538000.0,14.7,1312000.0,9.10,84,21176.0,467000.0,1127000.0,2110000.0,983000.0,"Climate Control,Android Auto,Apple CarPlay",2025-10-12,Curvv Base,Hybrid,DCT
3,4,Xpres-T,XM,2013,East,Dealer_67,1275,138.6,200,1472,756000.0,875000.0,20.5,696000.0,9.03,48,17330.0,136000.0,486000.0,1094000.0,608000.0,"Lane Assist,Adaptive Cruise,Parking Sensors",2025-10-12,Xpres-T XM,Electric,Automatic
4,5,Nano,XT,2016,West,Dealer_60,625,89.3,155,1006,264000.0,310000.0,16.0,260000.0,8.18,72,4582.0,70000.0,164000.0,405000.0,241000.0,"Lane Assist,Adaptive Cruise,Parking Sensors",2025-10-12,Nano XT,Petrol,Automatic

- dropped duplicate column

In [167]:
df=df.drop(columns='Model')
df.head()

,record_id,model,variant,year,region,dealer_name,engine_cc,max_power_bhp,max_torque_nm,kerb_weight_kg,ex_showroom_price_lakhs,onroad_price_lakhs,down_payment_pct,loan_amount_lakhs,interest_rate_pct,loan_tenure_months,emi_monthly_rupees,total_interest_paid_lakhs,resale_value_5yrs_lakhs,ownership_cost_5yrs_lakhs,net_cost_of_ownership_lakhs,features,created_at,Fuel,GearBox
0,1,Tigor,Premium,2025,East,Dealer_68,1080,87.5,202,1185,208000.0,232000.0,15.0,197000.0,8.15,48,4823.0,35000.0,128000.0,417000.0,289000.0,"Heated Seats,Wireless Charging,Ambient Lighting",2025-10-12,Petrol,Manual
1,2,Harrier,Premium,2014,Central,Dealer_17,1028,99.1,78,1351,889000.0,985000.0,13.5,852000.0,7.50,48,20600.0,137000.0,624000.0,1262000.0,638000.0,"Sunroof,Alloy Wheels,Push Start",2025-10-12,Hybrid,Manual
2,3,Curvv,Base,2012,Central,Dealer_52,1366,123.8,121,1064,1339000.0,1538000.0,14.7,1312000.0,9.10,84,21176.0,467000.0,1127000.0,2110000.0,983000.0,"Climate Control,Android Auto,Apple CarPlay",2025-10-12,Hybrid,DCT
3,4,Xpres-T,XM,2013,East,Dealer_67,1275,138.6,200,1472,756000.0,875000.0,20.5,696000.0,9.03,48,17330.0,136000.0,486000.0,1094000.0,608000.0,"Lane Assist,Adaptive Cruise,Parking Sensors",2025-10-12,Electric,Automatic
4,5,Nano,XT,2016,West,Dealer_60,625,89.3,155,1006,264000.0,310000.0,16.0,260000.0,8.18,72,4582.0,70000.0,164000.0,405000.0,241000.0,"Lane Assist,Adaptive Cruise,Parking Sensors",2025-10-12,Petrol,Automatic

- converted a col to list

In [168]:
df['features_list']=df['features'].str.split(',')
df['features_list']=df['features_list'].apply(lambda x: [i.strip() for i in x] if isinstance(x,list) else x)

In [169]:
df=df.drop(columns='features')
df.head(2)

,record_id,model,variant,year,region,dealer_name,engine_cc,max_power_bhp,max_torque_nm,kerb_weight_kg,ex_showroom_price_lakhs,onroad_price_lakhs,down_payment_pct,loan_amount_lakhs,interest_rate_pct,loan_tenure_months,emi_monthly_rupees,total_interest_paid_lakhs,resale_value_5yrs_lakhs,ownership_cost_5yrs_lakhs,net_cost_of_ownership_lakhs,created_at,Fuel,GearBox,features_list
0,1,Tigor,Premium,2025,East,Dealer_68,1080,87.5,202,1185,208000.0,232000.0,15.0,197000.0,8.15,48,4823.0,35000.0,128000.0,417000.0,289000.0,2025-10-12,Petrol,Manual,"[Heated Seats, Wireless Charging, Ambient Ligh..."
1,2,Harrier,Premium,2014,Central,Dealer_17,1028,99.1,78,1351,889000.0,985000.0,13.5,852000.0,7.50,48,20600.0,137000.0,624000.0,1262000.0,638000.0,2025-10-12,Hybrid,Manual,"[Sunroof, Alloy Wheels, Push Start]"

- saving cleaned data to .parquet format

In [170]:
import os
df.to_parquet(r'C:\Users\91706\Data Analytics Practice\databases\python\tata motors cars\clean_tata_motors.parquet', index=False)